<h2>Write a comment</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
     <div class="comment-textarea-field">
          <%= form.rich_text_area :body, placeholder: "Type something..." %>
     </div>
     <div class="actions">
          <%= form.submit %>
     </div>
<% end %>
