<div class="nopostindex">

     <div class="heading">Yay! You're on Blogfactory!</div>

     <% if user_signed_in? %>
          <%= link_to "Create your first post!", new_post_path %>
     <% end %>

</div>