<% if @posts.empty? %>
<p>No articles. </p>
<% else %>
<h1>Spotlight</h1>
<%= render "spotlightpost", post: @posts.first, imagepath: @imagepath %>

<h1>Featured</h1>
zip-a-dee-doo-dah!

<h1>More from <%= @orgname %></h1>
zip-a-dee-doo-day!


<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post_path(post), post_path(post) %>
    </li>
  <% end %>
</ul>
<% end %>


