nav a
     display: block
     font-size: 14px
     text-decoration: none
     line-height: 1.5
     &:hover
          background-color: rgba(0, 0, 0, 0.05)

.navigation-link-top
     font-size: 35px
     line-height: 1
     font-weight: 200
     font-family: 'Source Serif'
     color: #000 !important
     text-decoration: none !important
     text-align: left
     
.navigation-header-image
     width: 100%;
     margin-bottom: 15px;

.navigation-divider
     width: 100%
     height: 1px !important
     background-color: rgba(0, 0, 0, 0.5)
     margin-top: 25px
     margin-bottom: 25px

.navigation-category
     border-right: 3px solid rgba(0, 0, 0, 0.2);
     padding-right: 10px;
     margin-top: 10px;
     margin-bottom: 10px;

.navigation-category-title
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 900;
     color: rgba(0, 0, 0, 0.5);


@media (prefers-color-scheme: dark)
     nav a
          &:hover
               background-color: rgba(255, 255, 255, 0.05)   

     .navigation-link-top
          color: #fff !important
          
     .navigation-divider
          background-color: rgba(255, 255, 255, 0.5)

     .navigation-category
          border-right: 3px solid rgba(255, 255, 255, 0.2);

     .navigation-category-title
          color: rgba(255, 255, 255, 0.75);